scratch.py
scratch.txt
log.txt
*.txt
*.docx
*.pptx
data.txt
samples.jsonl
minillm_template.py
.env
generated_responses.json
generated_questions.json
models--gpt2/snapshots/607a30d783dfa663caf39e06633721c8d4cfcd7e/config.json
models--gpt2/snapshots/607a30d783dfa663caf39e06633721c8d4cfcd7e/generation_config.json
models--gpt2/snapshots/607a30d783dfa663caf39e06633721c8d4cfcd7e/model.safetensors
models--gpt2/refs/main
survey_responses.jsonl
